
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@400;700&display=swap');
.about__heading {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 7% 0 3% 0;
    font-size: 4rem;
}
.about__p{
    font-size: 150%;
    padding: 3% 20% 3% 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background {
    height: 50vh;
    position: relative;
    background-color: #292c2f;
    color: aliceblue;
}
@media only screen and (max-width: 990px){
    .about__heading{
        font-size: 2rem;
    }
    .about__p{
        font-size: 1rem;
    }
}
