
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@400;700&display=swap');
H1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 3% 0 3% 0;
    font-size: 100px;
}
p{
    font-size: 150%;
    padding: 3% 20% 3% 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.background {
    height: 50vh;
    position: relative;
    background-color: #292c2f;
    color: aliceblue;
}

