body{
    font-family: arial;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.card{
    flex: 0 0 450px;
     margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    text-align: center;
}
.container img{
    max-width: 100%;
}
.texts{
    padding: 1px; margin-bottom:10px;
}
.texts button{
    border: none; padding: 5px 15px;
    background: #566270; color: #fff;
    font-weight: 600;
    transition: all 0.3s ease-in;
}
.texts button:hover{
    background: #E0E3DA; color: #566270; cursor: pointer;
}