* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.container {
  border-radius: 25px;
  text-align: justify;
  margin-top: 100px;
}

@media only screen and (max-width: 990px){
  .container{
      margin-top: 2rem;
  }
}